body {
    margin: 0;
    padding: 10px;
    background-color: #ccc;
    font-family: 'Helvetica';
}

h1 {
    text-shadow: 0 -2px 0 #999;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 200px 0 30px 0;
    color: white;
}

/**
 * Large Button Component
 * http://components.onsenui.io/
 */
.button--large {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  padding: 4px 20px;
  display: block;
  width: 100%;
}
.button--large:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.input--setting {
    width:80%;
}


#home .box {
  margin: 10px 0px 20px;
}

/* ### quiz ### */
.quiz-page {
  color: #6C6C6C;
}
.quiz-page > .page__background {
  background: white;
}
.question-box {
  box-sizing: border-box;
  border: 2px solid #76A445;
  margin: 11px 12px 6px;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
}
.question-box .question-no {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: normal;
}
.question-box .question-text {
  margin: 0px;
  padding: 0px;
}
.answer-wrapper {
  padding: 0 10px;
}
.answer-wrapper .answer-item {
  margin: 0 10px;
}
.timelimit-wrapper {
  margin: 0px 0px 20px;
}
.timelimit-wrapper > * {
  width: 100%;
}

.button--answer {
  width: 100%;
  text-align: center;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  padding: 0px;
  margin: 0px;
  background: #76A444;
}
.button--answer:active {
  background: rgba(118, 164, 68, 0.81);
}
.progress-bar--timelimit-bar {
  height: 14px;
  background-color: #F1A000;
  background: linear-gradient(#FFC550, #F1A000);
  border: 3px solid #996600;
  box-sizing: border-box;
}
.progress-bar--timelimit-bar__primary {
  background-color: #664400;
}